* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-size: 24px;
    color: #494949;
    background-color: #4f4c4c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.App {
    background-color: #fff;
    border-radius: 50px;
    padding: 50px;
}

.search-form {
    width: 500px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.location-input {
    flex: 1;
    height: 50px;
    padding: 0 20px;
    border-radius: 0;
    border: 1px solid #4f4c4c;
}

.search-button {
    flex: 0;
    height: 50px;
    background-color: #4f4c4c;
    color: #fff;
    border: none;
    padding: 0 20px;
    border-radius: 0;
}

.search-results {
    text-align: left;
}

.search-results-weather {
    display: flex;
    gap: 10px;
}

.search-results-error {
    color: darkred;
    text-align: left;
    font-size: 16px;
}
